<!DOCTYPE html>
<html>
<head>
  <title>Add Job</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
  <h1>Add Job</h1>
</header>

<div class="container">
  <form action="/add-job" method="POST">
    <label>Job Title</label>
    <input name="title" required>

    <label>Company</label>
    <input name="company" required>

    <label>Location</label>
    <input name="location" required>

    <button type="submit">Add Job</button>
  </form>

  <br>
  <a href="/">⬅ Back to Home</a>
</div>

</body>
</html>
